body {
    background-color: rgb(18, 18, 18);
}

.intro {
    font-size: 1.5rem;
    max-width: 600px;
    line-height: 1.6;
}

#connect:hover {
    background-color: #0d74d1 !important;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
    }

    25% {
        box-shadow: 0 0 30px rgba(0, 191, 255, 0.7);
    }

    50% {
        box-shadow: 0 0 35px rgba(138, 43, 226, 0.8);
    }

    75% {
        box-shadow: 0 0 30px rgba(0, 128, 128, 0.7);
    }

    100% {
        box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
    }
}

.profile-img-glow {
    animation: glow 1.5s infinite ease-in-out;
    transition: transform 0.3s ease;
}

.topbar a {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.topbar a:hover {
    color: aqua !important;
    text-shadow: 0 0 8px aqua;
}

.topbar a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: width 0.3s ease;
}

.topbar a:hover::after {
    width: 100%;
}

#footer a i {
    transition: transform 0.3s ease, color 0.3s ease;
}

#footer a:hover i {
    color: #0dcaf0;
    transform: scale(1.2);
}


    #my-form-status {
        margin-top: 1rem;
        color: #4caf50;
        font-size: 1rem;
        display: block;
        word-wrap: break-word;
        max-width: 100%;
        white-space: pre-wrap;
    }

#btnStyle button{
    box-shadow: 0 0 10px #0d74d1;
    padding: 8px;
}